
# Note: Do NOT include references.bib here, this should be committed once generated
*.aux
*.dvi
*.bbl
*.blg
*.brf
*.out
*.idx
*.ps
*.pdf
*.to?
*.diff
*.rel
*.com
*.eps
*.glsdefs
*-diff.tex
*.swp
*.swo
*.orig
*.log
*.acn
*.ist
tmp.bib
.DS_Store
data/generated/*
data/generated/*
